<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Access Map</title>

        <!-- Fonts: Noto Serif & Poppins -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/reset.css">
    </head>
    <body>
        <!-- AccessMap Logo credit to Miranda -->
        <img src="static/images/AccessMapLogo.png"
        alt="AccessMap: Mapping Access for All"
        class="access_map_logo">

        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1mx7SpBX4Ltn8MPGGnxRmxjTDcyLwmdQ&ehbc=2E312F&noprof=1" width="640" height="480"></iframe>

        <form action="/find_a_location" method="POST">
            <label for="location_name">Location Name:</label><br>
            <!-- TODO: Present user with related options if a name matches multiple locations-->
            <input type="text" id="lname" name="location_name"><br>

            <label for="location_address">Location Address:</label><br>
            <input type="text" id="address" name="location_address"><br>

            <button type="submit">Find Location</button>
        </form>
    </body>
</html>